src/main/resources/devconst/schema_valuesid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="zxcvbnFileManager"
        xmlns:tns="zxcvbnFileManager"
        elementFormDefault="qualified">

    <element name="values">
        <complexType>
            <sequence>
                <element ref="tns:value" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <element name="value">
        <complexType mixed="true">
            <attribute name="id" type="ID"/>
        </complexType>
    </element>

</schema>